<div class="container">
    <div ng-hide="isCartEmpty()">
        <h2>Added products</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Title</td>
                <td>Price</td>
                <td>Quantity</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderItemDto in cartList">
                <td>{{orderItemDto.productTitle}}</td>
                <td>{{orderItemDto.price}}</td>
                <td>
                    <div class="form-group">
                        <a class="btn btn-primary" ng-click="decrementProductInCart(orderItemDto.productId)"
                           role="button">-</a>
                        <label>{{orderItemDto.quantity}}</label>
                        <a class="btn btn-primary" ng-click="addProductInCart(orderItemDto.productId)"
                           role="button">+</a>
                    </div>
                </td>
                <td><a class="btn btn-danger" ng-click="deleteProductFromCart(orderItemDto.productId)">Delete</a></td>
            </tr>
            </tbody>
        </table>

        <h4>Total cost of products is {{cartPrice}} $</h4>

        <a class="btn btn-primary"  href="#!/order" >Place order</a>
    </div>
    <div ng-show="isCartEmpty()">
        <h4>Your cart is currently empty.</h4>
        <a class="btn btn-primary" href="#!/store" role="button">Back to products choice</a>
    </div>

</div>
