<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cart</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation_panel(Cart)}"/>

    <h2>Cart</h2>
    <div th:if="${@cart.items.size() != 0}">

        <table class="table table-striped">
            <thead>
            <tr>
                <td>Title</td>
                <td>Price</td>
                <td>Quantity</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${@cart.items}">
                <td th:text="${i.product.title}"></td>
                <td th:text="${i.price}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/cart/decrement/' + ${i.product.id}}">-</a>
                    <span th:text="'  ' + ${i.quantity} + '  '"/>
                    <a class="btn btn-primary" th:href="@{'/cart/add/' + ${i.product.id}}">+</a>
                </td>
                <td><a class="btn btn-danger" th:href="@{'/cart/remove/' + ${i.product.id}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <h4 th:text="'Итого: ' + ${@cart.getPrice()} + ' руб.'"></h4>
        <a class="btn btn-primary" th:href="@{'/orders/create'}" th:if="${@cart.items.size() > 0}">Place your order</a>

    </div>
    <div th:if="${@cart.items.size() == 0}">
        <h4>Your cart is currently empty.</h4>
        <a class="btn btn-primary" th:href="@{'/products'}" role="button">Back to products choice</a>
    </div>

</div>
</body>
</html>