<div class="container">
    <h2>Order confirmation</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Title</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="orderItemDto in cartList">
            <td>{{orderItemDto.productTitle}}</td>
            <td>{{orderItemDto.price}}</td>
            <td>{{orderItemDto.quantity}}</td>
        </tr>
        </tbody>
    </table>
    <h4>Total cost of products is {{cartPrice}} $</h4>

    <form name="answerForm" ng-submit="tryToOrderConfirm()">
        <div class="form-group">
            <label>Delivery address</label>
            <input class="form-control form-control-sm" name="address" ng-model="address" required>
        </div>
        <button type="submit" class="btn btn-primary">Confirm order</button>
    </form>
</div>
